
#newAbout {
    /* Full height - havbar height */
    /* Line to test the commit from laptop */
    /* Old code */
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 4rem;
  
    /* New code */
    /* overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem; */
  }
  
  .DPbg {
    position: absolute;
    top: 3rem;
    right: 0;
    object-fit: cover;
    z-index: -1;
    height: 80vh;
    border-radius: 2rem;
  }
  
  .DPabouContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  .DPaboutContent {
    font-family: sans-serif;
    height: 100vh;
    width: 50%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  
  .DPhello {
    font-family: sans-serif;
    font-size: 1.75rem;
    font-weight: 100;
  }
  
  .DPaboutText {
    font-family: sans-serif;
  }
  
  .DPaboutName {
    color: #0eeadf;
    font-family: sans-serif;
  }
  
  .DPaboutPara {
    margin-top: 0.5rem;
    font-family: sans-serif;
    font-size: large;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .DPaboutDiv {
    font-size: large;
    font-weight: 400;
  }
  
  .DPentry {
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 1rem;
  }
  
  .DPyear {
    letter-spacing: 1px;
    font-size: x-large;
  }
  
  .DPfaculty {
    letter-spacing: 1px;
    font-style: normal;
  }
  
  .DPentryPara {
    font-family: sans-serif;
    font-size: medium;
  }
  
  .DPthesisPara {
    margin-top: 1rem;
    font-family: sans-serif;
  }
  
  .DPthesisLink {
    text-decoration: none;
    font-size: x-large;
    color: white;
    text-decoration: underline;
  }
  
  .DPthesisLink:hover{
    color: #0eeadf;
    padding-bottom: 0.5rem;
  }
  
  .DPthesis {
    margin-top: 0.5rem;
    margin-left: 2rem;
    /* margin-top: 1rem; */
    display: grid;
    gap: 0.5rem;
  }
  
  .DPthesisEntry {
    font-family: sans-serif;
  }
  
  .DPredirectLink {
    text-decoration: none;
    font-size: large;
    color: white;
    text-decoration: underline;
  }
  
  .DPredirectLink:hover{
    color: #0eeadf;
    padding-bottom: 0.5rem;
  }
  
  .DPbtn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 300;
    letter-spacing: 1px;
    font-size: large;
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    margin-right: 1rem; */
  }
  
  .DPbtnImg {
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5rem;
    height: 1rem;
  }
  
  .DPtimeline {
    font-family: sans-serif;
  }
  
  @media screen and (max-width:840px){
    .DPbg {
      right: -10vw;
    }
  
    .DPintroContent {
      font-size: 10vw;
    }
  
    .DPhello {
      font-size: 4.5vw;
    }
  }
  
  @media screen and (max-width:480px){
    .DPbg {
      right: -20vw;
    }
  }