#about {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin: 0 auto;
  margin-bottom: 4rem;
  position: relative;
}

.aboutContent {
  font-family: sans-serif;
  width: 50%;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.bg {
  position: absolute;
  top: 7rem;
  right: 0;
  object-fit: cover;
  z-index: -1;
  height: 25rem;
  width: 25rem;
  border-radius: 2rem;
  object-position: top center;
  border-radius: 50%;

  /* object-fit: cover;
  object-position: top center;
  border-radius:50%;
  width: 150px;
  height: 150px; */
}

.redirectLink {
  text-decoration: none;
  font-size: large;
  color: white;
  text-decoration: underline;
}

.redirectLink:hover{
  color: #0eeadf;
  padding-bottom: 0.5rem;
  transition: all 1s ease;
}

.thesisLink {
  text-decoration: none;
  font-size: x-large;
  color: white;
  text-decoration: underline;
}

.thesisLink:hover{
  color: #0eeadf;
  padding-bottom: 0.5rem;
  transition: all 1s ease;
}

.hello {
  font-family: sans-serif;
  font-size: 1.75rem;
  font-weight: 100;
}

.aboutText {
  font-family: sans-serif;
}

.aboutName {
  color: #0eeadf;
  font-family: sans-serif;
}

.aboutPara {
  margin-top: 0.5rem;
  font-family: sans-serif;
  font-size: large;
  font-weight: 300;
  letter-spacing: 1px;
}

.aboutDiv {
  font-size: large;
  font-weight: 400;
}

.entry {
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 1rem;
}

.year {
  letter-spacing: 1px;
  font-size: x-large;
}

.faculty {
  letter-spacing: 1px;
  font-style: normal;
}

.entryPara {
  font-family: sans-serif;
  font-size: medium;
}

.thesisPara {
  margin-top: 1rem;
  font-family: sans-serif;
}

.thesisLink {
  text-decoration: none;
  font-size: x-large;
  color: white;
  text-decoration: underline;
}

.thesis {
  margin-top: 0.5rem;
  margin-left: 2rem;
  /* margin-top: 1rem; */
  display: grid;
  gap: 0.5rem;
}

.thesisEntry {
  font-family: sans-serif;
}

/* .redirectLink {
  text-decoration: none;
  font-size: large;
  color: white;
  text-decoration: underline;
}

.redirectLink:hover{
  color: #0eeadf;
  padding-bottom: 0.5rem;
} */

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 300;
  letter-spacing: 1px;
  font-size: large;
  /* margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.25rem;
  margin-right: 1rem; */
}

.btnImg {
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0.5rem;
  height: 1rem;
}

.timeline {
  font-family: sans-serif;
}

@media screen and (max-width:840px){
  .bg {
    margin: auto;
    /* right: -15vw; */
  }

  .introContent {
    font-size: 10vw;
  }

  .hello {
    font-size: 4.5vw;
  }
}

@media screen and (max-width:480px){
  .bg {
    /* right: -20vw; */
  }
}

@media screen and (max-width: 680px) {
  .aboutContent {
    width: 100%;
  }
  
  .bg {
    display: block;
    position: relative;
    margin-top: -6rem;
    margin-bottom: 6rem;
  }
}