#hobbies {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.hobbiesTitle {
    font-size: 3rem;
    font-weight: 400;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.hobbiesDesc {
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1.25rem;
    max-width: 50rem;
    padding: 0, 2rem;
}

.hobbiesBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 30fr));
    grid-auto-rows: minmax(10rem, auto);
    gap: 20px;
}

.hobbyBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.musicHobbyBar {
    display: flex;

    /* Flex direction is super important here, as the playback element must pe positioned below. */
    flex-direction: column; 
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.upperPart {
    display: flex;
    flex-direction: row;
}

.hobbyBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.hobbyBarText>p {
    font-size: 1rem;
    font-weight: 200;
    font-family: sans-serif;
}

.hobbyBarText>h2 {
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: 1px;
}

.hobbyBarText>p {
    text-justify: inter-word;
}

.hobbyBarText {
    text-justify: inter-word;
}

.malLink {
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: medium;
    text-decoration: underline;
}

.malLink:hover {
    color: #0eeadf;
    padding-bottom: 0.5rem;
    transition: all 1s ease;
}

@media screen and (max-width:720px) {
    .hobbyBarText>p {
        font-size: 2vw;
    }
    
}

@media screen and (max-width:480px) {
    .hobbyBarText>p {
        font-size: 3vw;
    }

    .hobbyBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }

    .hobbyBarText>h2 {
        font-size: 5vw;
    }
    
}